{% extends 'base.html' %}

{% block content %}
<h3>Check in Books</h3>
<br>

{% if searched %}
    {% if results %}
        <h4>Search Results of "{{ searched }}"</h4>
        <br>
        <ul>
            {% for result in results %}
                <div class="checkin-card">
                    <li>
                        <strong>Title:</strong> <span id="checkin-title">{{ result.Book.title }}</span><br>
                        <strong>ISBN:</strong> <span id="checkin-isbn">{{ result.Book.isbn }}</span><br>
                        <strong>Card ID:</strong>  <span id="checkin-name">{{ result.Borrower.card_id }}</span><br>
                        <strong>Borrower:</strong>  <span id="checkin-name">{{ result.Borrower.bname }}</span><br>
                    </li>
                    {% if result.BookLoan.date_in == None %}
                        <div class="checkin-button">
                            <a href="{{ url_for('summary_in', id=result.BookLoan.loan_id ) }}" type="button" class="btn btn btn-primary">Check In</a>
                        </div>
                    {% else %}
                        <div class="checkin-button">
                            <a type="button" class="btn" style="cursor: default; background-color: #dddddd; color: rgb(105, 105, 105); pointer-events: none;">This book has been checked in</a>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found for "{{ searched }}"</p>
    {% endif %}
    <a href="{{ url_for('checkin') }}" class="btn btn-primary">Go Back to Search</a>
{% else %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <h6>{{ form.searched.label }}</h6>
        {{ form.searched(class="form-control", placeholder="Search book...") }}
        <br>
        <h6>Search by:</h6>
        <h7>{{ form.search_isbn.label }}: </h7> {{ form.search_isbn() }} <br>
        <h7>{{ form.search_card_id.label }}: </h7> {{ form.search_card_id() }} <br>
        <h7>{{ form.search_bname.label }}: </h7> {{ form.search_bname() }} <br>
        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endif %}
{% endblock %}