{% extends 'base.html' %}

{% block content %}
<h3>Manage Fines</h3>

<p class="d-inline-flex gap-1">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
        aria-expanded="false" aria-controls="multiCollapseExample1">View Unpaid Fines</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
        aria-expanded="false" aria-controls="multiCollapseExample2">View Paid Fines</button>
</p>
<div class="collapse multi-collapse" id="multiCollapseExample1">
    <h5>Unpaid Fines</h5>
    <br>
    <div class="card-container">
        {% for fine_unpaid in fines_unpaid %}
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <p  >Loan ID: <strong>{{ fine_unpaid.loan_id }}</strong></p>
                        <p class="card-title">Fine Amount <strong>{{ fine_unpaid.fine_amt }}</strong></p>
                        <a href="{{ url_for('payment', id=fine_unpaid.loan_id) }}" class="btn btn-primary">Pay this fine</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
<br>
<div class="collapse multi-collapse" id="multiCollapseExample2">
    <h5>Paid Fines</h5>
    <br>
    <div class="card-container">
        {% for fine_paid in fines_paid %}
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <p>Loan ID: <strong>{{ fine_paid.loan_id }}</strong></p>
                        <p class="card-title">Fine Amount <strong>{{ fine_paid.fine_amt }}</strong></p>
                        <p class="card-text">Paid</p>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}