{% extends 'base.html' %}

{% block content %}
<h3>Manage Fines</h3>

<p class="d-inline-flex gap-1">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
        aria-expanded="false" aria-controls="multiCollapseExample1">View Unpaid Fines</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
        aria-expanded="false" aria-controls="multiCollapseExample2">View Paid Fines</button>
</p>
<div class="collapse multi-collapse" id="multiCollapseExample1">
    <h5>Unpaid Fines</h5>
    <br>
    <div class="card-container">
        {% for unpaid_fine_in in unpaid_fines_in %}
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <p  >Loan ID: <strong>{{ unpaid_fine_in.BookLoan.loan_id }}</strong></p>
                        <p class="card-title">Fine Amount <strong>${{ unpaid_fine_in.Fines.fine_amt }}</strong></p>
                        <a href="{{ url_for('payment', id=unpaid_fine_in.loan_id) }}" class="btn btn-primary">Pay this fine</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="card-container">
        {% for unpaid_fine_out in unpaid_fines_out %}
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <p>Loan ID: <strong>{{ unpaid_fine_out.Fines.loan_id }}</strong></p>
                        <p class="card-title">Fine Amount <strong>${{ unpaid_fine_out.Fines.fine_amt }}</strong></p>
                        <p class="card-text">This book is still out</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
<br>
<div class="collapse multi-collapse" id="multiCollapseExample2">
    <h5>Paid Fines</h5>
    <br>
    <div class="card-container">
        {% for paid_fines in paid_fines %}
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <p>Loan ID: <strong>{{ paid_fines.loan_id }}</strong></p>
                        <p class="card-title">Fine Amount <strong>${{ paid_fines.fine_amt }}</strong></p>
                        <p class="card-text">Paid</p>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}