{% extends 'base.html' %}

{% block content %}
<h3>Home</h3>
<br>
<div>
    <h4>Instructions</h4>
    <ul>
        <li>
            <h5>Search Books</h5>
            <p>bla bla bla</p>
        </li>
        <li>
            <h5>Register New User</h5>
            <p>bla bla bla</p>
        </li>
        <li>
            <h5>Check in Books</h5>
            <p>bla bla bla</p>
        </li>
        <li>
            <h5>Manage Fines</h5>
            <p>bla bla bla</p>
        </li>
    </ul>
</div>
{% endblock %}