{% extends 'base.html' %}

{% block content %}
<h3>Home</h3>
<br>
<div>
    <ul>
        <li>
            <h5>Search Books</h5>
            <p>Search any books by isbn, title, or author name</p>
        </li>
        <li>
            <h5>Register New User</h5>
            <p>Fill in the form and register a new user</p>
        </li>
        <li>
            <h5>Check in Books</h5>
            <p>Search for a book to check in by isbn, card id, or borrower name</p>
        </li>
        <li>
            <h5>Manage Fines</h5>
            <p>View all the existing fines, and pay the fine of returned overdue books </p>
        </li>
    </ul>
</div>
{% endblock %}