{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h3>Payment</h3>
<br>
<form method="POST">
    {{ form.hidden_tag() }} 
    <h6>Fine amount:  <strong>{{ fine[0][1] }}</strong></h6>
    <p>*Payment must be made in full, ONLY press pay if the borrower has paid the fine in FULL</p>
    {{ form.amount(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}