{% extends 'base.html' %}

{% block content %}
<h3>Sumary Page</h2>
<h5>Book to Check in</h5>

<p>Borroer ID:  {{ loan_to_update.card_id }}</p></p>
<p>Date out: {{ loan_to_update.date_out }}</p>
<p>Date in: {{ loan_to_update.date_in }}</p>
{% if overdue %}
    <p>This book is overdue</p>
{% endif %}
{% if remaining_loans %}
    <h5>Remaining Loans</h5>
    <br>
    {% for remaining_loan in remaining_loans %}
        <div class="book-card">
            <strong>ISBN: </strong>{{ remaining_loan.isbn }}<br>
            <strong>Date out: </strong>{{ remaining_loan.date_out }}</span><br>
            <strong>Due Date: </strong>{{ remaining_loan.due_date }}</span>
        </div>
    {% endfor %}
{% else %}
    <p><strong>No other book loans for this borrower</strong></p>
{% endif %}
<a href="{{ url_for('index') }}" class="btn btn-primary">Go Back to Homepage</a>
{% endblock %}