{% extends 'base.html' %}

{% block content %}
{% if outstanding_fine %}
    <p>This borrower has outstanding fines. All fines must be paid before check-out.</p>
    <a href="{{ url_for('search') }}" class="btn btn-primary">Go Back to Search</a>
{% elif over_limit %}
    <p>This borrower already has <strong>{{ loan_count }}</strong> book loans.</p>
    <a href="{{ url_for('search') }}" class="btn btn-primary">Go Back to Search</a>
{% else %}
    <h3>Summary</h3>
    <h4>Due Date of the Following Books: <span style="color: rgb(196, 102, 102);">{{ due_date }}</span></h4>
    <div class="book-container">
        {% for book in book_data_list %}
            <div class="book-entry">
                <div class="book-info">
                    <h6><strong>ISBN:</strong> {{ book.isbn }}</h6>
                    <h6><strong>Title:</strong> {{ book.title }}</h6>
                    <h6><strong>Author:</strong> {{ book.author }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Go Back to Homepage</a>
{% endif %}
{% endblock %}